:root {
  --primary: rgb(31, 31, 31);
  --secondary: rgb(255, 255, 255);
  --thertiary: rgb(0, 220, 255);
  --shadow: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: rgb(53, 53, 53);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  border: 1px;
  border-radius: 25px;
  border-style: solid;
  border-color: var(--thertiary);
  box-shadow: -5px 5px 10px var(--shadow);
  background-color: var(--primary);
}

p,
h1 {
  text-align: center;
  color: var(--secondary);
}

#p1 {
  font-size: 15px;
}

#userName {
  text-align: center;
}

#div-userName {
  padding-bottom: 10px;
  padding-top: 5px;
}

.div-div {
  flex-direction: row;
}

.containerValue {
  padding: 20px;
  font-size: 40px;
}

.submit {
  border-radius: 7px;
  padding: 5px;
  font-weight: 600;
  text-align: center;
  background-color: white;
  box-shadow: -5px 5px 10px var(--shadow);
  transition: 0.25s;
}

.submit:hover {
  background-color: black;
  color: white;
}

.submit:active {
  background-color: white;
  color: black;
}

#user-age {
  padding: 5px;
}
